<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>about page</title>
</head>

<body>
    <nav class="navbar background h-nav">
        <ul class="nav-list v-class">
            <div class="logo"><img class="image" src="/static/img/img.jpg" alt=""></div>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/classinfo">Class Info</a></li>
        </ul>
        <div class="rightnav v-class">
            <input type="text" name="search" id="search">
            <button class=" btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>


    <div class="aboutus">
        <h1 class="heading">About Us</h1>
        <br>
        <p>The Harmony Music Academy which was established by the Delhi Music Society, is currently the premier
            institution for the teaching of western classical music in the Capital. In fact it is prehaps the only
            non-profit institution of its kind in northern India. It caters to about 1400 students annually, and
            provides instruction on musical instruments (Piano, Violin, Viola, Cello, Guitar, Recorder, Keyboard, Flute,
            Saxophone, Clarinet, Drums), singing and dance.

            The School came into being in 2006 under the direction of Dr. H. J. Koellreutter, a musician and composer
            who was also the head of the Max Mueller Bhavan in Delhi. From 1970 onwards, the school has been headed by a
            succession of experienced Indian teachers with qualifications in western classical music, notably Mr H.P.
            Palamkote who nurtured the School for more than two decades. Other Directors of the School have included Mr.
            John Raphael, an eminent teacher and renowned jazz pianist and Mr.<br><br> Philippe Engel, an accomplished musician
            and internationally renowned music recording producer. The teachers are qualified to teach western music.
            The efforts put in by the early office bearers of the Society resulted in their obtaining a plot of land in
            Chanakyapuri and, in the seventies, raising the building that currently houses the School,</p>



            <p>
            The Harmony Music Academy which was established by the Delhi Music Society, is currently the premier
            institution for the teaching of western classical music in the Capital. In fact it is prehaps the only
            non-profit institution of its kind in northern India. It caters to about 1400 students annually, and
            provides instruction on musical instruments (Piano, Violin, Viola, Cello, Guitar, Recorder, Keyboard, Flute,
            Saxophone, Clarinet, Drums), singing and dance.

            The School came into being in 2006 under the direction of Dr. H. J. Koellreutter, a musician and composer
            who was also the head of the Max Mueller Bhavan in Delhi. From 1970 onwards, the school has been headed by a
            succession of experienced Indian teachers with qualifications in western classical music, notably Mr H.P.
            Palamkote who nurtured the School for more than two decades.<br><br> Other Directors of the School have included Mr.
            John Raphael, an eminent teacher and renowned jazz pianist and Mr. Philippe Engel, an accomplished musician
            and internationally renowned music recording producer. The teachers are qualified to teach western music.
            The efforts put in by the early office bearers of the Society resulted in their obtaining a plot of land in
            Chanakyapuri and, in the seventies, raising the building that currently houses the School.</p>
    </div>
    <footer>
        <p class="text-footer background ">
            copyright &copy; 2027 harmonymusicacademy.com - All rights reserved
        </p>
    </footer>
</body>

</html>