<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/classinfo.css">
    <title>class info page</title>
</head>
<body>
    <nav class="navbar background h-nav">
        <ul class="nav-list v-class">
            <div class="logo"><img class="image" src="/static/img/img.jpg" alt=""></div>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/classinfo">Class Info</a></li>
        </ul>
        <div class="rightnav v-class">
            <input type="text" name="search" id="search">
            <button class=" btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        
    </nav>
    
    <div class="container">
        
        <h2 class="heading">Classes</h2>
        <br>
        <p><b>Admissions open for First year in the Advanced Diploma in Carnatic Music (Vocal).</b></p>
        <br>
        <br>
        <b>Duration:</b>
        <p>3 years with 2 semesters every year, Mid July – November end and Mid January – June end. </p>
        <br>
        <b>Classes:</b>
        <p>Monday thru Friday 0800 am – 12:30 pm</p>
        <br>
        <b>Eligibility:</b>
        <p>Applicants should have minimum educational qualification of +2 (successfully completed).
            Age should be between 18 to 25 years. 
            They should be able to sing Varnams, Kritis and have a reasonable level of Manodharma.
            Applicants should send a hard copy of their bio – data giving full details of their musical training to the following address in a sealed envelope clearly marked “Admission to ASCM”.
            
            The Academic Coordinator
            The Music Academy Madras,
            168/306, TTK Road, Chennai 600014
            
            Shortlisted Applicants will be called for an interview  by end June and selected candidates will be intimated by email.</p>
    </div>
    <footer>
        <p class="text-footer background ">
            copyright &copy; 2027 harmonymusicacademy.com - All rights reserved
        </p>
    </footer>
</body>
</html>