<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/contact.css">
    <title>contact page</title>
</head>

<body>
    <nav class="navbar background h-nav">
        <ul class="nav-list v-class">
            <div class="logo"><img class="image" src="/static/img/img.jpg" alt=""></div>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/classinfo">Class Info</a></li>
        </ul>
        <div class="rightnav v-class">
            <input type="text" name="search" id="search">
            <button class=" btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>
    <div class="container">

        <h1 class="heading">Contact Us</h1>
        <br>
        <h3>Address</h3>
        <p>The Delhi Music Society,</p>
        <p>8, Nyaya Marg, Chanakyapuri,</p>
        <p>New Delhi - 110021, India.</p>
        <br>
        <h3>Admission</h3>
        <p>Please feel free to contact Ms. Anjali Mathur, Ms. Paramita Guha Naskar at <a
                href="tel:+91-11-26115331">011-26115331</a> or <a href="tel:+91-836-819-1200">+91 83681 91200</a>.</p>
        <br>
        <h3>Phone</h3>
        <p><strong>School</strong> : <a href="tel:+91-11-26115331">+91-11-26115331</a></p>
        <br>
        <h3>Email</h3>
        <p><strong>School</strong> : <a href="mailto:delhischoolofmusic@gmail.com">delhischoolofmusic@gmail.com</a></p>
    </div>
    <footer>
        <p class="text-footer background ">
            copyright &copy; 2027 harmonymusicacademy.com - All rights reserved
        </p>
    </footer>
</body>

</html>