<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Harmony Music Academy</title>
</head>

<body>
    <nav class="navbar background h-nav">
        <ul class="nav-list v-class">
            <div class="logo"><img class="image" src="/static/img/img.jpg" alt=""></div>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/classinfo">Class Info</a></li>
        </ul>
        <div class="rightnav v-class">
            <input type="text" name="search" id="search">
            <button class=" btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>
    <section class="firstsection background">
        <div class="box-main">
            <div class="fsecleft">
                <p class="text-big">Harmony music academy</p>
                <p class="text-small">Lets meet your Musical journey with us</p>
            </div>
            <div class="fsecright">
                <h2 class="form-title">For query</h2>
                <div class="form">
                    <form action="/", method="post", class="myform">
                        <input type="text" class="myinput" name="name"  placeholder="Name" required>
                        <input type="phone" class="myinput" name="phone"  placeholder="phone Number" required>
                        <input type="email" class="myinput" name="email"  placeholder="Myemail" required>
                        <input type="text" class="myinput" name="instrument"  placeholder="Instrument" required>
                        <button class="btn">Submit Now</button>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <section class="intro">
        <div class="intro-greet">
            Welcome to Harmony music academy
        </div>
        <div class="intro-content">
            <div class="intro-left"><img class="intro-image" src="/static/img/intro/intro.jpg" alt="intro image"></div>
            <div class="intro-right">
                <div class="intro-text">
                    <div class="intro-paras">
                        <p class="tbig">Ear training</p>
                        <p class="tsmall">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
                            consectetur.</p>
                    </div>
                    <div class="intro-paras">

                        <p class="tbig">Shows exposure</p>
                        <p class="tsmall">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
                            consectetur.</p>
                    </div>
                    <div class="intro-paras">
                        <p class="tbig">Electronic instruments technicalities</p>
                        <p class="tsmall">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
                            consectetur.</p>
                    </div>
                    <div class="intro-paras">
                        <p class="tbig">Industry experts session</p>
                        <p class="tsmall">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
                            consectetur.</p>
                    </div>
                </div>


            </div>

        </div>
    </section>
    <section class="instruments">
        <div class="instrument-heading">
            <p class="iheadingbig">Instrumrnts</p>
            <p class="iheadingsmall">You can go for any of the instruments given below for learning</p>
        </div>
        <div class="cards">

            <div class="sectioni">
                <div class="imagei">

                    <img class="imgi" src="/static/img/instrument/inst-1.jpg" alt="instrument image">
                </div>
                <div class="contenti">
                    <h1 class="headingi">Guitar</h1>
                    <p class="parasi">The guitar is a fretted musical instrument that typically has six strings. It is held flat against the . </p>
                </div>

            </div>
            <div class="sectioni">
                <div class="imagei">

                    <img class="imgi" src="/static/img/instrument/inst-2.jpg" alt="instrument image">
                </div>
                <div class="contenti">
                    <h1 class="headingi">Piano</h1>
                    <p class="parasi">The piano is an acoustic, stringed musical instrument invented in Italy by Bartolomeo Cristofori. </p>
                </div>

            </div>
            <div class="sectioni">
                <div class="imagei">

                    <img class="imgi" src="/static/img/instrument/inst-3.jpg" alt="instrument image">
                </div>
                <div class="contenti">
                    <h1 class="headingi">Drums</h1>
                    <p class="parasi">The drum is a member of the percussion group of musical instruments. In the Hornbostel-Sachs. </p>
                </div>

            </div>

        </div>
    </section>
    <section class="premises ">
        <div class="content">
            <div class="pheading ">
                <p class="prepara">Our premises</p>
            </div>
            <div class="pimages">

                <div class="pimage">
                    <img class="pimg" src="/static/img/premises/premises.jpg" alt="remises image">
                </div>
                <div class="pimage">
                    <img class="pimg" src="/static/img/premises/premises.jpg" alt="remises image">
                </div>
                <div class="pimage">
                    <img class="pimg" src="/static/img/premises/premises.jpg" alt="remises image">
                </div>
                <div class="pimage">
                    <img class="pimg" src="/static/img/premises/premises.jpg" alt="remises image">
                </div>
            </div>
        </div>
    </section>
    <section class="trainer">
        <div class="trainer-heading">
            <p>Our trainers</p>
        </div>
        <div class="tcontent">
            <div class="tleft">
                <div class="theading">
                    <p class="tpara">jack</p>
                </div>
                <div class="timage">
                    <img class="timg" src="/static/img/trainer/t1.jpg" alt="trainer image">
                </div>

            </div>
            <div class="tright">
                <div class="theading">
                    <p class="tpara">jorge</p>
                </div>
                <div class="timage">
                    <img class="timg" src="/static/img/trainer/t2.jpg" alt="trainer image">
                </div>

            </div>
        </div>
    </section>
    <footer>
        <p class="text-footer background ">
            copyright &copy; 2027 harmonymusicacademy.com - All rights reserved
        </p>
    </footer>
    <script src="/static/js/resp.js"></script>
</body>

</html>