<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/services.css">
    <title>services page</title>
</head>
<body>
    <nav class="navbar background h-nav">
        <ul class="nav-list v-class">
            <div class="logo"><img class="image" src="/static/img/img.jpg" alt=""></div>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/classinfo">Class Info</a></li>
        </ul>
        <div class="rightnav v-class">
            <input type="text" name="search" id="search">
            <button class=" btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        
    </nav>

    <div class="container">
        <h1>Services we offer</h1>
        <br>
        <h3>Online Lessons</h3>
        <p>Bridge Music Academy is delighted to officially offer online lessons starting 1st April 2020. Over the years we have had many students that have studied with our faculty online, simply due to the distance. We have had students from various parts of India and even overseas (Korea, Germany, UK and Canada). Online lessons are are great way to learn from senior faculty, which you may not have access otherwise. Some of our students used to travel to the academy hundreds of kilometers every week. However, the day these students tried online lessons, they stopped traveling and completely shifted to online format.

            In the wake of current corona virus situation, most of our students have been learning online with the faculty and are very satisfied with it. Our faculty has years of experience teaching over Skype, Facetime and other platforms. This allows them to plan resources for lessons in advance, provide clear practice notes and monitor progress on weekly basis.</p>
            <br>
        <h3>Regular Program</h3>
        <p>Regular Program at Bridge Music Academy is equivalent or regular schooling of music. This is the most popular program at the Academy. Students typically attend twice a week private and/or group lessons. These Lessons cover all aspects of practical skills such as technique, repertoire, sight reading and improvisation. Weekly music theory lessons cover music writing skills, harmony and ear-training. Students pursuing this program are eligible for International Music Exams and also participate in the Rock Brigade, the annual students’ rock concert.

            Faculty of the Academy follows recommended method books with early learners for their respective disciplines. At higher levels, teachers design the most suited curriculum as per the student’s needs. Our faculty goes out of the way to clearly understand the learning goals of the students. Every musician follows a unique learning curve and often develop unique area of expertise with their subject. Faculty at Bridge is no exception to this fact. Team of faculty at Bridge works like a family, taking help and often transferring students within themselves if the area of specialization for the student demands it. Rest assured, students get exactly what will help them move closer to their goals, be it hobby or professional.</p>
            <br>
        <h3>Short Term Program</h3>
        <p>Short Term Program is a crash course available round the year to all new students who may be on a short ‘time-budget’. The students avail twice a week private lessons, as opposed to once a week in regular program,  along with theory of music. Short Term Program is available in 4 or 8 weeks module.

            The program is most popular with people visiting the city (Delhi/Chandigarh) for a month or two and wish to further their musical skills and knowledge. The program is open to students at any level. The course content is flexible and is designed as per the learning objectives of the student. Admissions are open any time of the month/year for this program.</p>
            <br>
        <h3>Home Tuition</h3>
        <p>Yes, The Academy now offers home tuition for all disciplines in selected areas of New Delhi/NCR. The students may choose to study music at the comfort of their home and yet avail all the benefits that come with studying at the Academy. These may include Music Exams, Regular Concerts, Theory of Music lessons and participation in various events hosted by the Academy.

            Home tuition are available for students that have an instrument of recommended quality at home. Student typically choose to take home tuition for their convenience. Maybe the closest branch of Bridge may be too far or it may be difficult for student to travel for some reason. Students living near the branches are obviously encouraged to learn at the Academy. The curriculum followed will offer students opportunity to take International Music Exams.</p>
    </div>
    
    <footer>
        <p class="text-footer background ">
            copyright &copy; 2027 harmonymusicacademy.com - All rights reserved
        </p>
    </footer>
</body>
</html>